<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alterar e-mail</title>
</head>
<body>
    {{#each erros}}
    <div>{{texto}}</div>
    {{else}}
    {{/each}}

    {{#if logado}}
    
    {{else}}
    {{/if}}
    <div class="painel_central_conta">
        <div>
            <h3>Alterar e-mail</h3>

            <form action="/usuario/email_alterado" method="post">
                <p>E-mail atual: {{logado.email}}</p>
                <input type="text" name="novo_email" id="novo_email" placeholder="Digite o seu novo email"><br><br>

                <input type="submit" value="Alterar">
            </form>
        </div>
    </div>
</body>
</html>