<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alterar senha</title>
</head>
<body>
    {{#each erro}}
    <div>{{texto}}</div>
    {{else}}
    {{/each}}

    {{#if logado}}
    
    {{else}}
    {{/if}}
    <div class="painel_central_conta">
        <div>
            <h3>Alterar senha</h3>

            <form action="/usuario/senha_alterada" method="post">
                <input type="text" name="senha_atual" id="senha_atual" placeholder="Digite sua senha atual"><br><br>
                <input type="text" name="nova_senha" id="nova_senha" placeholder="Digite sua nova senha"><br><br>
                

                <input type="submit" value="Alterar">
            </form>
        </div>
    </div>
</body>
</html>