<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/conta.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha conta</title>
</head>
<body>

    {{#if logado}}
        
    {{else}}

    {{/if}}
    <div class="painel_central_conta">
        <h1>Dados da sua conta</h1>

        <div id="menu_conta_1">
            <p><a href="/usuario/dados_acesso">Dados de acesso</a></p>
            <p><a href="/usuario/dados_pessoais">Dados pessoais</a></p>
            <p><a href="/usuario">Voltar para a página inicial</a></p>
        </div>

        <div id="menu_conta_2">
            <img src="/midia/user.png" alt="usuario">
            <p>Nome do usuario: {{logado.nome}} {{logado.sobrenome}}</p>
            <p>E-mail do usuário: {{logado.email}}</p>

            <a href="/usuario/alterar_email"><button class="botao">alterar e-mail</button></a><br><br>
            <a href="/usuario/alterar_senha"><button class="botao">alterar senha</button></a>

            
        </div>
        
        <div id="barra_lateral"></div>
    </div>
    
</body>
</html>