<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/home.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {{#each erros}}
        <div>{{texto}}</div>
    {{else}}

    {{/each}}
    
    <header id="cabecalho">

        <div id="logo">

        </div>
        
        <div id="barra_pesquisa">
            <input type="text" placeholder="Buscar" id="campo_pesquisa">
        </div>

        <div id="opcoes_usuario">
            {{#if logado}}
            <a href="#">Carrinho</a>
            <a href="/usuario/conta">Olá, {{logado.nome}}</a>
            {{else}}
            <a href="#">Comprar</a>
            <a href="/usuario/login">login ou cadastre-se</a>
            {{/if}}        
        </div>
        
        <nav id="menu">
            <ul>
                <li><a href="/home/vender">Vender</a></li>
                <li><a href="/home/alugar">Alugar</a></li>
                <li><a href="/home/eventos">Eventos</a></li>
                <li><a href="/home/roteiros">Roteiros</a></li>
            </ul>
        </nav>

    </header>

    <div id="painel_filtro">
        <p>Filtrar por</p>
        
        <div id="categoria">
            <p>Categorias</p>
            
            <ul>

                <li>
                    <label for="item1">
                        lorem
                        <input type="checkbox" id="item1">
                    </label>
                </li>

                <li>
                    <label for="item2">
                        lorem
                        <input type="checkbox" id="item2">
                    </label>
                </li>

                <li>
                    <label for="item3">
                        lorem
                        <input type="checkbox" id="item3">
                    </label>
                </li>

                <li>
                    <label for="item4">
                        lorem
                        <input type="checkbox" id="item4">
                    </label>
                </li>
            </ul>
        </div>

        <div id="tamanhos">
            <p>Tamanho</p>
        </div>
        
        <div id="modalidade">
            <p>modalidade</p>

            <ul>

                <li>
                    <label for="item1">
                        lorem
                        <input type="checkbox" id="item1">
                    </label>
                </li>

                <li>
                    <label for="item2">
                        lorem
                        <input type="checkbox" id="item2">
                    </label>
                </li>

                <li>
                    <label for="item3">
                        lorem
                        <input type="checkbox" id="item3">
                    </label>
                </li>

                <li>
                    <label for="item4">
                        lorem
                        <input type="checkbox" id="item4">
                    </label>
                </li>
            </ul>
        </div>
    </div>

    <section id="sessao">
        <div id="painel_vendas">
            <h1>À venda</h1>
        </div>

        <div id="painel_aluguel">
            <h1>Aluga-se</h1>
        </div>
    </section>
    
    <aside id="roteiros">
        <div id="painel_roteiros">
            <h1>Eventos em destaque</h1>
        </div>
    </aside>
    
    <footer id="rodape">
        <p>BaiBike &copy</p>
    </footer>
</body>
</html>