<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/login.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    {{#if error}}
        <div class="">{{this.error}}</div>
        <p>Teste</p>
    {{else}}

        
    {{/if}}

    {{#if sucesso}}
        <p>{{texto}}</p>
    {{else}}
    
        
    {{/if}}
    <div class="login-box">
        <form action="/usuario/login" method="POST">
            <div class="textbox">
                <i class="fa fa-user" aria-hidden="true"></i>
                <input type="text" placeholder="E-mail" name="email">
            </div>

            <div class="textbox">
                <i class="fa fa-lock" aria-hidden="true"></i>
                <input type="password" placeholder="Senha" name="senha">
            </div>
            <button class="btn" type="submit">Entrar</button>
        </form>

        <br>
        <a href="#">Esqueceu sua senha?</a>
        <hr>
        
        <a href="/usuario/cadastro"><button class="btn">Crie uma conta</button></a>
    </div>
</body>
</html>